table, td {
    width: 50%;
    border: 0px solid cornflowerblue;
    color: black;
}
body{
    background-color: aliceblue;
    margin-left: 5%;
}
#container-current{
    text-align: center;
    font-weight: bolder;
    text-align: center;
}
th #container-current{
    text-align="center";
    font-size: 16px;
    column-span:all;
}
coval {
    margin-left: 80px;
}